{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="gray-container">
            
            <div class="circle-container profile-img-container">
                <img src="{% static 'images/profile-img.jpg' %}" alt="imagen de perfil" class="profile-img">
            </div>

            <section class="cv-section" name="about-me">
                <h1 class="cv-section-title">SOBRE MÍ</h1>
                <hr>
                <p class="cv-section-description"> {{person.description}} </p>
            </section>

            <section class="cv-section" name="contact">
                <h1 class="cv-section-title">CONTACTO</h1>
                <hr>
                {% for contact in contacts %}
                    <div class="contact-item">
                        <div class="contact-icon-container">
                            <img src="{{contact.kind}}" alt="" class="icon-img">
                        </div>
                        
                        <h1 class="cv-section-subtitle">{{contact.value}}</h1>
                    </div>
                {% endfor %}
            </section>

            <section class="cv-section" name="aptitude">
                <h1 class="cv-section-title">APTITUDES</h1>
                <hr>
                <ul class="list">
                    {% for aptitude in aptitudes %}
                        <li>{{aptitude.value}}</li>
                    {% endfor %}
                </ul>
            </section>
        </div>

    </div>
    
</body>
</html>